// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-container {
  margin-bottom: 30px;
  .input {

    background-color:  #fafbfb;
    border: none;
    border-bottom: solid 0.3px ;
    cursor: pointer;
    box-shadow: 4px 4px 4px #52504c;
  }
  .search-field {
    border: none;
    border-bottom: solid 0.3px  rgb(82, 80, 76);
    width: 200px;

  }
}
.book-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
 

  .book-img {
    width: 160px;
    height: 230px;
    border: solid 1px #777777;


  }
  input {
    background-color:  #fafbfb;
    border: none;
    border-bottom: solid 1px rgb(82, 80, 76) ;
    cursor: pointer;
    color: rgb(82, 80, 76);
    &:hover {
      opacity: 0.5;
    }
    // box-shadow: 4px 4px 4px #52504c;
    
  }
  .book-card {
    margin-bottom: 40px;
    .book-btn {
      padding-left: 90px;
    }
    h2 {
      font-size: 1.3rem;
      padding-left: 10px;
    }
    p {
      padding-left: 12px;
    }
  }
}
